In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_for_prediction_with_coordinate.csv")

In [4]:
df.head(10)

,Unnamed: 0,start_index,end_index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,transcript,file_name
0,0,33,33,216,22,225,36,a,033ae477-99aa-4047-953d-4a951fc5a498_document-...
1,1,35,44,235,21,309,36,Employee's,033ae477-99aa-4047-953d-4a951fc5a498_document-...
2,2,46,51,311,20,350,35,social,033ae477-99aa-4047-953d-4a951fc5a498_document-...
3,3,53,60,353,19,402,34,security,033ae477-99aa-4047-953d-4a951fc5a498_document-...
4,4,62,67,405,19,456,33,number,033ae477-99aa-4047-953d-4a951fc5a498_document-...
5,5,115,119,783,11,820,26,"Safe,",033ae477-99aa-4047-953d-4a951fc5a498_document-...
6,6,121,129,823,10,896,26,"Accurate,",033ae477-99aa-4047-953d-4a951fc5a498_document-...
7,7,131,132,906,19,945,45,fe,033ae477-99aa-4047-953d-4a951fc5a498_document-...
8,8,134,134,957,18,970,44,+,033ae477-99aa-4047-953d-4a951fc5a498_document-...
9,9,136,139,975,17,1022,45,file,033ae477-99aa-4047-953d-4a951fc5a498_document-...

In [5]:
df.isna().sum()

Unnamed: 0         0
start_index        0
end_index          0
x_top_left         0
y_top_left         0
x_bottom_right     0
y_bottom_right     0
transcript        16
file_name          0
dtype: int64

In [6]:
df[df['transcript'].isna() == True]

,Unnamed: 0,start_index,end_index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,transcript,file_name
21037,21037,4268,4270,1990,961,2025,988,NaN,405509df-6488-4eb2-b453-1f4811bdb8dd_document-...
21987,21987,4611,4613,1990,962,2023,985,NaN,416fcd9b-6c0e-4697-9ea2-ad7b4d7906fb_document-...
29356,29356,4217,4219,1990,962,2024,989,NaN,68612721-1e51-4838-9ad5-5297257f0889_document-...
33544,33544,4687,4689,1990,962,2025,989,NaN,72c9830e-3a04-40bd-b75d-0feffc3f3350_document-...
35585,35585,4243,4244,1580,960,1618,992,NaN,7e872fc9-1c93-489c-8d5e-3526728388c0_document-...
37578,37578,4744,4746,1990,961,2025,987,NaN,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
38483,38483,4787,4789,1991,960,2025,988,NaN,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
39408,39408,4629,4631,1990,961,2024,987,NaN,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
42110,42110,6250,6251,1287,722,1320,750,NaN,8ffac54a-c836-41d0-baba-c0d8cb84711a_document-...
55173,55173,4399,4400,1577,959,1620,996,NaN,b5132946-40d0-40bd-9b2e-9368e802769b_document-...
56103,56103,4201,4203,1990,961,2025,987,NaN,b81a8ead-082d-4685-a7b9-d7184ad72e25_document-...
57040,57040,4168,4170,1679,962,1714,990,NaN,b81a8ead-082d-4685-a7b9-d7184ad72e25_document-...
58911,58911,4297,4299,1990,960,2025,987,NaN,c0590dc5-b22a-497f-9138-4dadafbc04ad_document-...
66294,66294,4324,4326,1989,960,2026,988,NaN,dc1469ce-6c5d-47a1-b06c-940c46e741fe_document-...
66310,66310,4510,4511,1678,963,1715,992,NaN,dc1469ce-6c5d-47a1-b06c-940c46e741fe_document-...
75777,75777,5162,5164,1570,662,1598,682,NaN,ef630989-4d33-4d26-bf80-9ffece13fc5d_document-...

In [7]:
df['transcript'] = df['transcript'].fillna("NULL")

In [8]:
df['transcript_length'] = df['transcript'].apply(len)

In [10]:
df = df[['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript_length' ,'file_name' , 'transcript' ]]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80453 entries, 0 to 80452
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   start_index        80453 non-null  int64
 1   end_index          80453 non-null  int64
 2   x_top_left         80453 non-null  int64
 3   y_top_left         80453 non-null  int64
 4   x_bottom_right     80453 non-null  int64
 5   y_bottom_right     80453 non-null  int64
 6   transcript_length  80453 non-null  int64
 7   file_name          80453 non-null  object
 8   transcript         80453 non-null  object
dtypes: int64(7), object(2)
memory usage: 5.5+ MB

In [13]:

from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split


numeric_features = df.drop(columns=['file_name', 'transcript'])


poly = PolynomialFeatures(degree=2, include_bias=False)

# Fit and transform the numeric features
numeric_poly = poly.fit_transform(numeric_features)

# Convert the transformed features into a DataFrame
numeric_poly_df = pd.DataFrame(numeric_poly, columns=poly.get_feature_names_out(numeric_features.columns))

df_poly = pd.concat([df[['file_name', 'transcript']], numeric_poly_df], axis=1)

In [14]:
df_poly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80453 entries, 0 to 80452
Data columns (total 37 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   file_name                         80453 non-null  object
 1   transcript                        80453 non-null  object
 2   start_index                       80453 non-null  float64
 3   end_index                         80453 non-null  float64
 4   x_top_left                        80453 non-null  float64
 5   y_top_left                        80453 non-null  float64
 6   x_bottom_right                    80453 non-null  float64
 7   y_bottom_right                    80453 non-null  float64
 8   transcript_length                 80453 non-null  float64
 9   start_index^2                     80453 non-null  float64
 10  start_index end_index             80453 non-null  float64
 11  start_index x_top_left            80453 non-null  float64
 12  start_index y_top_left            80453 non-null  float64
 13  start_index x_bottom_right        80453 non-null  float64
 14  start_index y_bottom_right        80453 non-null  float64
 15  start_index transcript_length     80453 non-null  float64
 16  end_index^2                       80453 non-null  float64
 17  end_index x_top_left              80453 non-null  float64
 18  end_index y_top_left              80453 non-null  float64
 19  end_index x_bottom_right          80453 non-null  float64
 20  end_index y_bottom_right          80453 non-null  float64
 21  end_index transcript_length       80453 non-null  float64
 22  x_top_left^2                      80453 non-null  float64
 23  x_top_left y_top_left             80453 non-null  float64
 24  x_top_left x_bottom_right         80453 non-null  float64
 25  x_top_left y_bottom_right         80453 non-null  float64
 26  x_top_left transcript_length      80453 non-null  float64
 27  y_top_left^2                      80453 non-null  float64
 28  y_top_left x_bottom_right         80453 non-null  float64
 29  y_top_left y_bottom_right         80453 non-null  float64
 30  y_top_left transcript_length      80453 non-null  float64
 31  x_bottom_right^2                  80453 non-null  float64
 32  x_bottom_right y_bottom_right     80453 non-null  float64
 33  x_bottom_right transcript_length  80453 non-null  float64
 34  y_bottom_right^2                  80453 non-null  float64
 35  y_bottom_right transcript_length  80453 non-null  float64
 36  transcript_length^2               80453 non-null  float64
dtypes: float64(35), object(2)
memory usage: 22.7+ MB

In [15]:
import string
df_poly['symbol_count'] = df_poly['transcript'].apply(lambda x: sum(1 for char in x if char in string.punctuation))

In [16]:
df_poly['transcript'].sample(8)

17502                 South
73639    Treasury--Internal
36073                 state
44873                     .
27220                   336
71372                     .
79799                  name
10176                  Lane
Name: transcript, dtype: object

In [17]:
df_poly.head()

,file_name,transcript,start_index,end_index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,transcript_length,start_index^2,...,y_top_left x_bottom_right,y_top_left y_bottom_right,y_top_left transcript_length,x_bottom_right^2,x_bottom_right y_bottom_right,x_bottom_right transcript_length,y_bottom_right^2,y_bottom_right transcript_length,transcript_length^2,symbol_count
0,033ae477-99aa-4047-953d-4a951fc5a498_document-...,a,33.0,33.0,216.0,22.0,225.0,36.0,1.0,1089.0,...,4950.0,792.0,22.0,50625.0,8100.0,225.0,1296.0,36.0,1.0,0
1,033ae477-99aa-4047-953d-4a951fc5a498_document-...,Employee's,35.0,44.0,235.0,21.0,309.0,36.0,10.0,1225.0,...,6489.0,756.0,210.0,95481.0,11124.0,3090.0,1296.0,360.0,100.0,1
2,033ae477-99aa-4047-953d-4a951fc5a498_document-...,social,46.0,51.0,311.0,20.0,350.0,35.0,6.0,2116.0,...,7000.0,700.0,120.0,122500.0,12250.0,2100.0,1225.0,210.0,36.0,0
3,033ae477-99aa-4047-953d-4a951fc5a498_document-...,security,53.0,60.0,353.0,19.0,402.0,34.0,8.0,2809.0,...,7638.0,646.0,152.0,161604.0,13668.0,3216.0,1156.0,272.0,64.0,0
4,033ae477-99aa-4047-953d-4a951fc5a498_document-...,number,62.0,67.0,405.0,19.0,456.0,33.0,6.0,3844.0,...,8664.0,627.0,114.0,207936.0,15048.0,2736.0,1089.0,198.0,36.0,0

In [18]:
df_poly.shape

(80453, 38)

In [19]:
df_poly.to_csv("data_for_prediction_ploy_features.csv")