In [13]:
import pandas as pd
import numpy as np

In [14]:

import os

directory = 'boxes_transcripts'


dataframes = []

for filename in os.listdir(directory):
    if filename.endswith('.tsv'):

        file_path = os.path.join(directory, filename)
        

        df = pd.read_csv(file_path, sep=',', header=None)
        
        # Assign column names
        df.columns = ['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript']
        
        # Add a new column for the file name
        df['file_name'] = filename
        
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

In [15]:
combined_df.sample(6)

,start_index,end_index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,transcript,file_name
39132,15769,15769,1719,2778,1726,2805,2,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
21430,11390,11392,1360,2175,1390,2205,box,405509df-6488-4eb2-b453-1f4811bdb8dd_document-...
52424,13234,13238,1315,2502,1346,2533,tips.,b4040ec4-f7fc-4016-a4d4-715022b20eea_document-...
71621,682,684,209,144,248,167,Inc,ebbcffa9-deba-45a9-bbf6-dd17ef362249_document-...
30425,1934,1934,1569,2239,1594,2282,x,6c1f3f88-171e-471e-8d99-c138a963d337_document-...
27344,7656,7657,907,1006,920,1027,to,5c2f28f0-172b-4d27-929f-21c9cac4f2c9_document-...

In [16]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80453 entries, 0 to 80452
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   start_index     80453 non-null  int64
 1   end_index       80453 non-null  int64
 2   x_top_left      80453 non-null  int64
 3   y_top_left      80453 non-null  int64
 4   x_bottom_right  80453 non-null  int64
 5   y_bottom_right  80453 non-null  int64
 6   transcript      80437 non-null  object
 7   file_name       80453 non-null  object
dtypes: int64(6), object(2)
memory usage: 4.9+ MB

In [17]:
combined_df[combined_df['transcript'].isna() == True]

,start_index,end_index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,transcript,file_name
21037,4268,4270,1990,961,2025,988,NaN,405509df-6488-4eb2-b453-1f4811bdb8dd_document-...
21987,4611,4613,1990,962,2023,985,NaN,416fcd9b-6c0e-4697-9ea2-ad7b4d7906fb_document-...
29356,4217,4219,1990,962,2024,989,NaN,68612721-1e51-4838-9ad5-5297257f0889_document-...
33544,4687,4689,1990,962,2025,989,NaN,72c9830e-3a04-40bd-b75d-0feffc3f3350_document-...
35585,4243,4244,1580,960,1618,992,NaN,7e872fc9-1c93-489c-8d5e-3526728388c0_document-...
37578,4744,4746,1990,961,2025,987,NaN,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
38483,4787,4789,1991,960,2025,988,NaN,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
39408,4629,4631,1990,961,2024,987,NaN,8b2661c7-2fdb-414d-af15-f9a5b95af261_document-...
42110,6250,6251,1287,722,1320,750,NaN,8ffac54a-c836-41d0-baba-c0d8cb84711a_document-...
55173,4399,4400,1577,959,1620,996,NaN,b5132946-40d0-40bd-9b2e-9368e802769b_document-...
56103,4201,4203,1990,961,2025,987,NaN,b81a8ead-082d-4685-a7b9-d7184ad72e25_document-...
57040,4168,4170,1679,962,1714,990,NaN,b81a8ead-082d-4685-a7b9-d7184ad72e25_document-...
58911,4297,4299,1990,960,2025,987,NaN,c0590dc5-b22a-497f-9138-4dadafbc04ad_document-...
66294,4324,4326,1989,960,2026,988,NaN,dc1469ce-6c5d-47a1-b06c-940c46e741fe_document-...
66310,4510,4511,1678,963,1715,992,NaN,dc1469ce-6c5d-47a1-b06c-940c46e741fe_document-...
75777,5162,5164,1570,662,1598,682,NaN,ef630989-4d33-4d26-bf80-9ffece13fc5d_document-...

In [18]:
combined_df['transcript'] = combined_df['transcript'].fillna("NULL")

In [19]:
combined_df.head(7)

,start_index,end_index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,transcript,file_name
0,33,33,216,22,225,36,a,033ae477-99aa-4047-953d-4a951fc5a498_document-...
1,35,44,235,21,309,36,Employee's,033ae477-99aa-4047-953d-4a951fc5a498_document-...
2,46,51,311,20,350,35,social,033ae477-99aa-4047-953d-4a951fc5a498_document-...
3,53,60,353,19,402,34,security,033ae477-99aa-4047-953d-4a951fc5a498_document-...
4,62,67,405,19,456,33,number,033ae477-99aa-4047-953d-4a951fc5a498_document-...
5,115,119,783,11,820,26,"Safe,",033ae477-99aa-4047-953d-4a951fc5a498_document-...
6,121,129,823,10,896,26,"Accurate,",033ae477-99aa-4047-953d-4a951fc5a498_document-...

In [20]:
combined_df.to_csv("data_for_prediction_with_coordinate.csv")